.carbon_text{
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;

}

.carbon_header{
    display: flex;

    height: fit-content;
    justify-content: center;
    padding-top: 10px;


}

.grid_cotainer{
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    margin-top: 10px;
}
.grid_item{
    border: 1px solid white;
    padding:100px
}

.color_level1{
    background-color: green;
    height: 20px;
    width: 177%;
    position: relative;
    bottom:100px;
    right: 100px;
    margin-left: 2px;
}
.color_level2{
    background-color: yellow;
    height: 20px;
    width: 173%;
    position: relative;
    bottom:100px;
    right: 99px;
}
.color_level3{
    background-color: orange;
    height: 20px;
    width: 173%;
    position: relative;
    bottom:100px;
    right: 99px;
}
.color_level4{
    background-color: red;
    height: 20px;
    width: 173%;
    position: relative;
    bottom:100px;
    right: 99px;
}