.carbon_text{
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;

}

.carbon_header{
    display: flex;

    height: fit-content;
    justify-content: center;


}

.grid_cotainer{
    display: grid;
    grid-template-columns: auto auto auto auto  ;
    margin-top: 10px;
}
.grid_item{
    border: 1px solid white;
    padding:90px
}