.carbon_text{
    width: 50%;
    margin-top: 40px;
    margin-left: 20px;

}

.carbon_header{

    margin-left: 20px;
    height: fit-content;


}

.grid_cotainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto ;
}
.grid_item{
    border: 1px solid white;
}