.background_profile{
    background-color: black;
    height: 90vh;
    color:white;
    display: flex;
    flex-direction: column;
}
.welcome_text{
    display: flex;
    /* justify-content: center; */
}

.profile{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


#airq_button{
    width:80px;
    height: fit-content;
}

.change_password{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width:20%;
    margin-left:78%;

    
}

.change_form{
    display: flex;
    justify-content: space-between;

}

.title_pass{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}