.background_profile{
    background-color: black;
    height: 90vh;
    color:white;
    display: flex;
    flex-direction: column;
}
.welcome_text{
    display: flex;
    justify-content: center;
}

.profile{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}


#airq_button{
    width:80px;

}

.change_password{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    
}

.change_form{
    display: flex;
}