.background_air{
    background-color: black;
    height: 100vh;
    color:white;
    display: flex;
    justify-content: center;
    border: 2px solid red;
}



.airquality{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid green;
    gap:50px;
    font-size: 30px;
}



.heading_air{
    display: flex;
    justify-content: center;
  
    width: 100%;
    height:fit-content;
    font-size:40px;
    font-weight: 700;
}