.background{
  height: 89vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  color:white;
}

.temp{
  color:white;
  font-size: 40px;  
  /* margin-left: 30px; */
 
  min-width: 80px;
  text-align: center;
  /* margin-bottom: 50px; */
}
.test{
  
  width: 80px;
}

.city{
  color:white;
}



.location{
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.tem{
  
  color:white;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;

  min-width: 300px;
}


.columns{
  flex: 1;
  column-count:5;
  /* column-gap: 40px; */
  column-rule-style: solid;
  column-rule-color: aqua;
  color: white;
  /* height:65vh; */
  padding-top: 40px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-evenly;
  /* padding: 0px -12px; */

}

.columns div:first-child {
  border-left: none;
}

.columns div:last-child {
  border-right: none;
}

.forcast{
  display: flex;
  align-items: center ;
  flex-direction: column;
  font-size: 20px;
}

.container_column{
  display: flex;
  flex-direction: column;
  gap:20px;
  align-items: center;
  border-left: 2px solid aqua;
  border-right: 2px solid aqua;
  flex: 1;
  font-size: 20px;
}

.temp_day{
  display: flex;

  flex-direction: column;
  gap:20px;
  align-items: center;
}

.temp_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap:370px; */
 
}
.temp_time{
  margin-top: auto;
  margin-bottom: 35px;
}

#column_image{
  
}

.time{
  display: flex;
  /* flex-direction: column; */
  gap:10px;
}
.weather-widget-col-1{
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  
  gap: 16px;
}

.description{
  font-family:'Lucida ', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  /* position: relative;
  top:75px;
  right:160px */
 
}

.drink_water{
  font-family:'Lucida ', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  
}
