.background{
  height: 100vh;
  background-color: black;
  
}

.temp{
  color:white;
  font-size: 40px;  
  /* margin-left: 30px; */
  border: 1px solid pink;
  min-width: 80px;
  text-align: center;
  /* margin-bottom: 50px; */
}
.test{
  border: 1px solid pink;
  width: 80px;
}

.city{
  color:white;
}



.location{
  
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}
.tem{
  
  color:white;
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: flex-start;
  border: 1px solid red;
  min-width: 300px;
}


.columns{
  column-count:5;
  column-gap: 40px;
  column-rule-style: solid;
  column-rule-color: aqua;
  color: white;
  height:65vh;
}

.forcast{
  display: flex;
  align-items: center ;
  flex-direction: column;
  font-size: 20px;
}

.container_column{
  display: flex;
  flex-direction: column;
  gap:20px
  
}

.temp_day{
  display: flex;

  flex-direction: column;
  gap:20px;
  align-items: center;
}

.temp_column{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:370px;
}

#column_image{
  
}

.time{
  display: flex;
  /* flex-direction: column; */
  gap:10px;
}
.weather-widget-col-1{
  display: flex;
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  border: 1px solid blue;
  gap: 16px;
}

.description{
  font-family:'Lucida ', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  /* position: relative;
  top:75px;
  right:160px */
 
}


