
.header_text{
    color:white;
    display:flex;
 
    padding:30px;
    border: solid 4px green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    width: fit-content;

    
}

.underline{
    background-color: aqua;
    height:1vh;
}

.login{
    color:white;

}

.signup{
    color:white;
}

.sign_login{
    display: flex;
    justify-content: flex-end;
    border: solid 2px green;
}

.container{
    display: flex;
    justify-content: center;
    border: solid 3px blue;
}


.login_container{
    border: 3px solid grey;
    display: flex;
    flex-direction: column;
    position: absolute;
    right:30px;
    top:10px;
    gap:10px
}

.login{
    font-size: 30px;
}
.signup{
    font-size: 30px;
}