#search_bar{
    display: flex;
    /* padding:15px; */
    width:40%;
    border-radius: 15px;
    margin-top: 0px;
    
    position: absolute;
    top:120px;
    padding: 10px;
    background-color:white;
    opacity: 80%;
    
    
    
    
}

.bar{
    display: flex;
    justify-content:center;
    padding: 10px;
    
    
}

.searchbarcont {
   color: white;
}